<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userms.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="userms.dto.Role" >
        <result column="r_id" property="rId" />
        <result column="r_name" property="rName" />
    </resultMap>
    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM role_t WHERE r_id = #{id}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM role_t
    </select>
</mapper>